html {
  font-family: 'Roboto', sans-serif;
  background-color:#f0f0f0;
}

.app {
  text-align: center;
}
.app > p {
  font-size: 10px;
}
.app_header {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.app_logo {
  width: 10%;
  height: auto;
}

